@import "vars";
@import "fonts";
@import "global";

/*----------------------------------- */
/* Notification
------------------------------------- */
.notification {
  position: absolute;
  bottom: 48px;
  left: 32px;
  box-shadow: 0px 0px 16px 0px #b0c5de80;
  border-radius: 4px;
  overflow: hidden;
  &-container {
    align-items: center;
    .q-banner__avatar {
      align-self: center;
    }
    .q-banner__avatar:not(:empty) + .q-banner__content {
      padding-left: 6px;
    }
  }
  &-icon {
    font-size: 0;
  }

  .q-banner {
    min-height: 56px;
    padding: 16px 12px 16px 10px;
  }
}

@import "media";
